{% extends 'base.html' %}
{% load static %}
{% block near_starts %}

    <h3 class="underline">Ближайшие старты:</h3>
    {% for near_tour in near_tours %}
        <a href="{% url 'tour_detail'  near_tour.tour_type near_tour.id %}">
            <img width="90px" height="70px" src="{{ near_tour.image.url }}">
            <p>{{ near_tour.start_date|date:"d.m.Y" }} {{ near_tour.title }}</p>
        </a>
    {% endfor %}


{% endblock near_starts %}
{% block content %}


    <div class="row">

        <div class="col">
            <a href="{% url 'tour_list' tour_type='i' %}">
                <h1>Исландия</h1>
                <img src="{% static 'Vtur/img/Island.jpg' %}" width="100%" , height="70%"></a></div>
        <div class="col">
            <a href="{% url 'tour_list' tour_type='g' %}">
                <h1>Грузия</h1>
                <img src="{% static 'Vtur/img/Georgia.jpg' %}" width="100%" , height="70%"></a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="{% url 'tour_list' tour_type='s' %}">
                <h1>Болота</h1>
                <img src="{% static 'Vtur/img/Swamp.jpg' %}" width="100%" , height="70%"></a>
        </div>
        <div class="col">
            <a href="{% url 'tour_list' tour_type='f' %}">
                <h1>Сплавы на плотах</h1>
                <img src="{% static 'Vtur/img/Float.jpg' %}" width="100%" , height="70%"></a>
        </div>
    </div>
{% endblock %}